# This is the bots configuration for the Telegram Gateway
BOTS_CONFIG='[
{"connector_id": "tg1", "bot_token": "0123456789:ABCDEFG", "cw_account_id": "123", "cw_inbox_id": "888"},
{"connector_id": "tg2", "bot_token": "1234567890:BCDEFGH", "cw_account_id": "123", "cw_inbox_id": "999"}
]'

# Encryption key that Telegram (or other adapters that support such keys)
# will send to the API in the header
SECRET_TOKEN=ABCDEFGHIJKLMNOPQRSTUVWXYZ

# Take from Profile Settings -> Access Token (at the very bottom)
CHATWOOT_ACCESS_TOKEN=YOUR_CW_TOKEN

# Database settings
DB_USER=postgres
DB_PASS=YOUR_SUPER_SECRET_DB_PASS
DB_HOST=localhost # Or name of the docker container
DB_PORT=5432
DB_NAME=your_db_name

INCOMING_QUEUE_NAME=to_cw
OUTGOING_QUEUE_NAME=from_cw

# Main domain for webhook configuration
WH_DOMAIN=https://your_domain.com

# Group for plugin auto discovery
GROUP=helpline.channel_adapters

# In Production, it should be changed to PRODUCTION. Only "DEVELOPMENT" and "PRODUCTION" are allowed
ENVIRONMENT=DEVELOPMENT

# Link to the domain where your Chatwoot is hosted
DEV_BASE_URL=https://your-dev-domain.com
PROD_BASE_URL=https://your-prod-domain.com

LOG_LEVEL=DEBUG # INFO, WARNING, ERROR, etc